body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.first{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0c3245;
    padding: 70px 0;
}
.col{
   width: 25%;
   padding: 0 15px;
}
.cols{
	width: 25%;
	padding: 0 15px;
}
.col h4,.cols h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.col h4::before,.cols h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.col ul li:not(:last-child),.cols ul li:not(:last-child){
	margin-bottom: 10px;
}
.col ul li a,.cols ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.col ul li a:hover,.cols ul li a:hover{
	color:#09ab78;
	text-decoration: underline;
}
.col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
}
.col .social-links a:hover{
	color: #24262b;
	background-color:#09ab78;
}

.second{
    margin-top: 5%;
}
#links{
	margin-top: -40px;
	margin-left: 35%;
	margin-bottom: -50px;
	width: 30%;
}
#sen{
	width:50%;
}
#sec{
	margin-top:63px;
}
#play img{
	width: 10%;
	margin-top: 3%;
}
#copy{
	margin-left: 65%;
}
#copy p,#copy a{
	color: #bbbbbb;
}
#copy a:hover{
	text-decoration: none;
}

@media(max-width: 767px){
  .col,.cols{
    width: 50%;
    margin-bottom: 30px;
}
#copy{
	margin:10% 15%;
}
#links{
	margin:10%;
	width: auto;
}
#play img{
	width:100px;
}
}
@media(max-width: 574px){
  .col,.cols{
    width: 100%;
}
#copy{
	margin:10% 15%;
}
#links{
	margin:10%;
	width: auto;
}
#play img{
	width: 70px;
	margin-left:3%;
}
}
Footer