*{
    box-sizing: border-box;
}
.menu img{
    width: 30px;
}

html,body{
    overflow-x: hidden;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
}

.icon{
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    top:22px;
    left: 15px;
    cursor: pointer;
}

#sidemenu:checked~#sidebar{
    transform: translate(0px);
}

.head{
    background:#181f38;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    display: flex;
}
#sidebar{
    height: 100%;
    position: fixed;
    left:0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    background-color: #181f38;
    border-top: 1px solid #323f5e;
    transform: translate(-250px);
    transition: transform 250ms ease-in-out;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    color: white;
}

.menu li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
}
.spin{
    height: 2px;
    background:white;
}

.spin.mid,.spin.bot{
    margin-top: 2px;
}

.head p{
    margin-left: 50px;
}

.left{
    margin: 20px 100px 10px 70px;
    width: 70px;
}
.left i{
    height: 50px;
    width: 30px;
    color: white;
}

.mid img{
    width: 50px;
    margin: 5px 250px 0px 400px;
}

.right i{
    color:white;
    background-color:#08cf65;
    padding: 10px;
    border-radius: 10px;
    margin: 7px;
}
.right input{
    background: #323f5e;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
#login{
    height: 38px;
    width: 38px;
    border-radius: 10px;
    background-color: #43a047;
    color: white;
    margin-top: 7px;
    margin-left: 10px;
    padding: 10px 5px;
}