body{

    margin:0px;
    padding:0px;
   background-color:#5E6F8C;
}



#container{

  padding:0% 0% 1% 0%;
    background-color:white ;
    width:85%;
    margin:auto;
    height:600px;
    margin-top:1.75%;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
   
}


#left_div{


width:25%;
display:flex;
flex-direction:column;
justify-content:start;
}


#right_div{

    width:45%;
    
    }

#logo {
  
    width: 6%;
  margin-left: 20px;
    }
    
#logotitle {
   
    color: black;
}


#left_div>div{

   
    display:flex;
    align-items:center;
}

#left_div>h1{

    color:#181F38;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
    line-height:140%;
}


#left_div>div>img{

width:20%;
margin-left:-1%;
}

#left_div>div>p{

    font-weight:bold;
}


#right_div>img{

    width:100%;
    margin-bottom:4%;
   
}

#right_div>input{

    border:1px solid #EDF1F6;
    display:block;
    width:98%;
    height:35px;
    margin-top:3.5%;
    border-radius:5px;
    background-color:#EDF1F6;
}

#right_div>select{

    border:1px solid #EDF1F6;
    display:block;
    width:100%;
    height:38px;
    margin-top:3.5%;
    border-radius:5px;
    background-color:#EDF1F6;
}

#mid_input{

   
    display:flex;
    justify-content:space-between;

}

.employees{
    border:1px solid #EDF1F6;
    width:43%;
    padding:1.5% 2%;
    background-color:#EDF1F6;
    border-radius:5px;
    margin-bottom:-1%;
    text-align:center;
    color:#51586B;
    background-color:#E6EAF0;
}





#company{

    margin-bottom:3%;
    
}

#company+label{

    font-size:11.5px;
    color:#617191;
    font-family:Arial, Helvetica, sans-serif;
   
}

#checkbox_div{

    margin-top:7%;
}

#checkbox_div>label{

    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:5%;
    color:rgb(82, 77, 77);

}

a{

    color:#0064C3;
    text-decoration:underline;
}

a:hover{

    color:#0064C3;
    text-decoration:underline white;
}

#circle{

    
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:12%;
}

#circle>div{

  
    width:35%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#circle>div>div{

    font-size:10px;
    color:#179BFF;
}

#circle>p{

   
    font-size:16px;
    padding:2% 5%;
    border-radius:8px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#07a07c;
    cursor:pointer;
}


#circle>p:hover{

    
    font-size:16px;
    padding:2% 5%;
    border-radius:8px;
    background-color:#135f4d;
}

