body{

    margin:0px;
    padding:0px;
   background-color:#5E6F8C;
}



#container{

  padding:0% 0% 1% 0%;
    background-color:white ;
    width:85%;
    margin:auto;
    height:600px;
    margin-top:1.75%;
    border-radius:10px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
   
}


#left_div{


width:23%;
display:flex;
flex-direction:column;
justify-content:start;
margin-left:-6%;
}


#right_div{


    width:47%;
}

#logo {
  
    width: 6%;
  margin-left: 20px;
    }
    
#logotitle {
   
    color: black;
}


#left_div>div{

   
    display:flex;
    align-items:center;
}

#left_div>h1{

    color:#181F38;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
    line-height:140%;
}


#left_div>div>img{

width:20%;
margin-left:-1%;

}

#left_div>div>p{

    font-weight:bold;
}





#left_div>input{

    border:1px solid #EDF1F6;
    display:block;
    width:98%;
    height:35px;
    border-radius:5px;
    background-color:#EDF1F6;
    margin-top:2%;
    margin-bottom:2%;
    color:rgb(99, 94, 94);
    font-size:16px;
  
}




#circle{

    display:flex;
    justify-content:space-between;
    align-items:center;
 
}

#circle>div{

  
    width:35%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#circle>div>div{

    font-size:10px;
    color:#179BFF;
}

#circle>p{

   
    font-size:16px;
    padding:2% 5%;
    border-radius:8px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#07a07c;
    cursor:pointer;
}


#circle>p:hover{

    
    font-size:16px;
    padding:2% 5%;
    border-radius:8px;
    background-color:#135f4d;
}

#table{

    width:150%;
    margin-left:-25%;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#table_left_div{

   
    width:25%;
    background-color:#04454D;
    border-radius:10px 0px 0px 10px;

}

#table_left_div>div{

   
    width:55%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5%;

}

#table_left_div>div>div:nth-child(1){

   
    color:white;
    
}

#table_left_div>div>div:nth-child(2){

    
    font-size:10px;
    color:white;
}

#table_left_div>div>p{

  
    color:white;
}


#table_left_div>ul{

    color:#2C636A;
    
}

#table_left_div>ul>li{

    border:1px solid #2C636A;
    border-radius:5px;
    background-color:#2C636A;
    margin-bottom:6%;
    color:white;
    padding:1% 2%;
}

#table_left_div>ul:nth-child(2){

    margin-left:-10%;

}

#table_left_div>ul:nth-child(3){

    margin-top:10%;
    
}


#table_right_div{

 
   width:75%; 
   height:400px;   
   border-radius:0px 10px 10px 0px;
}



#table_right_div>ul{

    color:#EBEBEB;
    
}


#table_right_div>ul>li{

    background-color:#EBEBEB;
    border-radius:5px;
    margin-bottom:6%;
    width:25%;
    color:black;
    padding:2% 2%;
    
}


#table_right_div>img{

 
  width:80%;
  height:77%;
}