body{

    margin:0px;
    padding:0px;
   background-color:#5E6F8C;
}



#container{

  padding:0% 0% 1% 0%;
    background-color:white ;
    width:85%;
    margin:auto;
    height:600px;
    margin-top:1.75%;
    border-radius:10px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
   
}


#left_div{


width:23%;
display:flex;
flex-direction:column;
justify-content:start;
margin-left:-6%;
}


#right_div{


    width:40%;
}

#logo {
  
    width: 6%;
  margin-left: 20px;
    }
    
#logotitle {
   
    color: black;
}


#left_div>div{

   
    display:flex;
    align-items:center;
}

#left_div>h1{

    color:#181F38;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
    line-height:140%;
}


#left_div>div>img{

width:20%;
margin-left:-1%;

}

#left_div>div>p{

    font-weight:bold;
}



#right_div>img{

    
    width:100%;
    margin-bottom:10%;
    

   
}

#left_div>input{

    border:1px solid #EDF1F6;
    display:block;
    width:98%;
    height:35px;
    border-radius:5px;
    background-color:#EDF1F6;
    margin-top:2%;
    margin-bottom:2%;
    color:rgb(99, 94, 94);
    font-size:16px;
  
}

#right_div>select{

    border:1px solid #EDF1F6;
    display:block;
    width:100%;
    height:38px;
    border-radius:5px;
    background-color:#EDF1F6;
    margin-top:2%;
    margin-bottom:2%;
    color:rgb(99, 94, 94);
    font-size:16px;
}


#circle{

    display:flex;
    justify-content:space-between;
    align-items:center;
 
}

#circle>div{

  
    width:35%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#circle>div>div{

    font-size:10px;
    color:#179BFF;
}

#circle>p{

   
    font-size:16px;
    padding:2% 5%;
    border-radius:8px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#07a07c;
    cursor:pointer;
}


#circle>p:hover{

    
    font-size:16px;
    padding:2% 5%;
    border-radius:8px;
    background-color:#135f4d;
}

label{

   
    font-size:13px;
    color:rgb(58, 56, 56);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#left_div>p{

    margin-top:-2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(90, 86, 86);
    font-size:13.5px;
}