* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#navbar {
    /* border: 1px solid red; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #181f38;
    /* position: fixed; */
    position: sticky;
    top: 0;
    /* right: 0;
    left: 0;
    z-index: 10;
    bottom: 0; */


}

#navbar>div {
    /* border: 1px solid blue; */
    /* width: 50%; */
    height: 60px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}



#navbar>#navleft>div {
    margin-left: 15px;
    /* border: 1px solid green; */
    padding: 8px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

#navbar>#navleft>div:hover {
    background-color: rgba(23, 29, 90, 0.781);
    cursor: pointer;
}

#navbar>#navright>div {
    margin-right: 20px;
    /* border: 1px solid green; */
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 5px;


}

#navbar>#navright {
    width: 80%;
}

#navbar>#navright>div:hover {
    background-color: rgba(23, 29, 90, 0.781);
    cursor: pointer;
}

#navstartbutton{
    background: rgba(61, 235, 61, 0.658);
    height: 40px;
    padding: 5px 15px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 10px;
    margin-right: 30px;
    color: white;
text-decoration: none;
}
#navstartbutton>a{
    text-decoration: none;
    color: white;
}
#navstartbutton:hover {
    background: rgba(74, 196, 74, 0.692);
    cursor: pointer;
}

#navlogo {
    width: 6%;
    /* background-color: #181f38; */
    margin-left: 20px;
    cursor:pointer;
}

#navlogotitle {
    color: white;
    cursor:pointer;
}

#navbar>#navright>#navlogin>a {
    color: rgba(61, 235, 61, 0.658);
    font-weight: bold;
text-decoration: none;
}

.navuparrow {
    margin-top: 10px;
    font-size: 19px;
    display: none;
}
.navuparrow_two{
display: none;
}
.navuparrow_three{
display: none;
}
/* ..................................................................................................................... */
.navdropdown {
    width: 101%;
    height: 600px;
    border: 1px solid grey;
    margin: auto;
    position: absolute;
    margin-top: 13px;
    margin-left: -15%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: #181f38;
}

.navdropdown>div {
    height: 550px;
    /* border: 1px solid blue; */
    margin-top: 30px;
    background-color: #181f38;
    margin-left: 15px;
    margin-right: 15px;



}



.navdropdown>div>p {
    margin-left: 30px;
    margin-bottom: 10px;
    color: rgb(156, 151, 151);
}

.navdropdown>div>a {
    text-decoration: none;
    margin-left: 20px;
}

.navdropdown>div>a>div {
    /* border: 1px solid green; */
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.navdropdown>div>a>div:hover {
    background-color: rgba(23, 29, 90, 0.781);
}

.navdropdown>div>a>div>h3 {
    margin-bottom: 10px;
    color: white;
}

.navdropdown>div>a>div>p {
    margin-left: 20px;
    color: wheat;
}

.navsign {
    color: green;
}

.navsignlogo>img {
    width: 20px;
    height: 20px;
}

.navdropdown>div:nth-child(4)>a>div>h3 {
    color: rgb(96, 209, 96);
}

.navexplore {
    color: darkgreen;
}

.navdropdown {
    display: none;
}
/* .................................................................................................. */


.navdropdowntwo {
    width: 100%;
    height: 600px;
    border: 1px solid grey;
    margin: auto;
    position: absolute;
    margin-top: 13px;
    margin-left: -20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: #181f38;
}

.navdropdowntwo>div {
    height: 500px; ;
    /* border: 1px solid blue; */
    margin-top: 20px;
    background-color: #181f38;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -10px;



}



.navdropdowntwo>div>p {
    margin-left: 20px;
    margin-bottom: 10px;
    color: rgb(156, 151, 151);
}

.navdropdowntwo>div>a {
    text-decoration: none;
    margin-left: 20px;
}

.navdropdowntwo>div>a>div {
    /* border: 1px solid green; */
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.navdropdowntwo>div>a>div:hover {
    background-color: rgba(23, 29, 90, 0.781);
}

.navdropdowntwo>div>a>div>h3 {
    margin-bottom: 7px;
    color: white;
}

.navdropdowntwo>div>a>div>p {
    margin-left: 20px;
    color: wheat;
}

.navsign {
    color: green;
}

.navsignlogo>img {
    width: 20px;
    height: 20px;
}

.navdropdowntwo>div:nth-child(4) {
    background-color: rgba(23, 29, 90, 0.781);
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}
.navdropdowntwo>div:nth-child(4)>img{
   margin-top: 30px;
    margin-bottom: 20px;
   border-radius: 10px;
   
    width: 100%
    
    
    
}
.navdropdowntwo>div:nth-child(4)>p{
    margin-left: -5px;
    margin-top: 10px;
}

.navexplore {
    color: darkgreen;
}

.navdropdowntwo {
    display: none;
    margin-left: -322px;
    width: 100%;
}


.second {
    width: 100%;
    height: 900px;
    border: 1px solid red;
}